@{
    ViewData["Title"] = "Password_Reset";
}

@model ResetPasswordViewModel

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<form method="post">
    <div class="alert alert-info">Şifre yenileme linki, e-posta adresinize gönderilecektir.</div>
    <div class="form-group">
        <label for="EMail" asp-for="EMail">EMail</label>
        <input asp-for="EMail" class="form-control" placeholder="Enter email">
        <span class="text-danger" asp-validation-for="EMail"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>